<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/maxbrwn/interview_buddy"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/?locale=de_DE"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/?lang=de"><i class="fab fa-twitter"></i></a>
    <a href="https://de.linkedin.com/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <a href="https://de.wikipedia.org/wiki/Impressum#:~:text=Ein%20Impressum%20(lateinisch%20impressum%20%E2%80%9EHineingedr%C3%BCcktes,Herausgeber%20oder%20die%20Redaktion%20benennen.">Impressum</a>
    <a href="https://www.pwc.de/de/cyber-security.html">Privacy Policy</a>
    <a href="https://en.wikipedia.org/wiki/Terms_of_service">Terms of Service</a>
  </div>
</div>
