<div class="container">
  <div class="banner">
  <h1><%= "Welcome to your Interview Buddy" %></h1>
  </div>

<hr>
<div class="profile-body">
  <div class="img-1">
    <%= image_tag "virtualinterviews.jpg", width: "430px", height: "200px", alt: "virtual interview pic" %>
  </div>
  <div class="Get-start-button">
    <%= button_to "Get started", new_interview_path, class: "btn btn-primary" %>
  </div>
  <div class="img-2">
    <%= image_tag "quote.jpeg", width: "430px", height: "200px", alt: "motivational quote" %>
  </div>
</div>
<hr>
