.banner {
  background-color: peachpuff;
  background-image: url(asset_path("candidates.webp"));
  background-size: cover;
  width: 1300px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  text-align: center; /* Centers text horizontally */
  color: black; /* Text color */
}

.banner h1 {
  font-size: 40px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  color: white;
}
