.button-form {
  background-color: #4CAF50; /* Green */
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 1;
  transition-duration: 25ms;
  &:hover {
    opacity: 0.9;
    color: white;
  }
}
.button-devise {
  background-color: grey; /* Green */
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 1;
  transition-duration: 25ms;
  &:hover {
    opacity: 0.9;
    color: white;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

