.feedback-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.feedback-header{
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
}

.feedback{
  position: relative;
  margin-bottom: 100px;
}
