.footer {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  width: 100%;
  background: #0E1E25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  opacity: 1;
  margin-top: auto;
  border-top: 0;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.footer-links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #02fbc8;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content:space-around;
  font-size: 18px;
  padding: 0px 10px;
  width: 100%;
}

.footer-copyright a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding:0px 10px;
}

.footer-copyright a:hover {
  color: #02fbc8;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
