.question-display {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: aliceblue;
}

.answer-input {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  height: 150px;
}

.mb-3.d-flex.justify-content-between.mx-3 h3 {
  color: white;
}
