.question-display {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.answer-input {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
