.navbar-lewagon {
  justify-content: space-between;
  background: #add8e6;
  border-bottom: 1px solid grey;
  box-shadow: 2px 1px 1px grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}
