.profile-body {
  background-color:goldenrod;
  margin-top: 40px;
  width: 1300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content:space-between;
  align-items: center; /* Centers vertically */
}
