.role-card {
  width: 250px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

.role-container {
  display: flex;
  justify-content: space-between;
}

.card {
  margin-top: 75px;
  border: none;
}

.select-container {
  width: 90%;
}
